# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints

# Testing
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/

# Logs
*.log